{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ blog.title }}{% endblock title %}
{% block content %}
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="{% static 'img/page/page-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">Мы здесь для вашей заботы.</p>
                            <h1>Подробности блога</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'main_app:home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->

        <!-- blog-area start -->
        <section class="blog-area pt-120 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <article class="postbox post format-image mb-40">
                            <div class="postbox__thumb mb-35">
                                <img src="{{ blog.image.url }}" alt="blog image" height="500px">
                            </div>
                            <div class="postbox__text bg-none">
                                <div class="post-meta mb-15">
                                    <span><i class="far fa-calendar-check"></i>{{ blog.date_added.day }}/{{ blog.date_added.month }}/{{ blog.date_added.year }}</span>
                                </div>
                                <h3 class="blog-title">
                                    {{ blog.title }}
                                </h3>
                                <div class="post-text mb-20">
                                    {{ blog.post_text|safe }}
                                </div>
                                <div class="row mt-50">
                                    <div class="col-xl-8 col-lg-8 col-md-8 mb-15">
                                        <div class="blog-post-tag">
                                            <span>Releted Tags</span>
                                            {% for i in blog.tags.all %}
                                                <a href="#">{{ i.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author mt-80 mb-40">
                                <div class="author-img text-center">
                                    <img src="img/blog/details/author.png" alt="">
                                </div>
                                <div class="author-text text-center">
                                    <h3>MD. Salim Rana</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex
                                        ea commodo consequa aute irure dolor. </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget mb-40">
                            <div class="widget-title-box mb-30">
                                <span class="animate-border"></span>
                                <h3 class="widget-title">Поиск статей</h3>
                            </div>
                            <form class="search-form">
                                <input type="text" placeholder="Search your keyword...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget mb-40 p-0 b-0">
                            <div class="banner-widget">
                                <a href="{% url 'main_app:home' %}"><img src="{% static 'img/blog/details/banner.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area end -->
{% endblock content %}
