{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <section class="about-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-4 col-md-6">
                    <div class="service-box-3 mb-30 text-center">
                        <div class="service-content-box">
                            <div class="service-content">
                                <h3>{{ service.name }}</h3>
                                <p>
                                    {{ service.description }}
                                </p>
                                <div>
                                    <h4>Doctors:</h4>
                                    <h6>{{ service.doctors }}</h6>
                                </div>
                            </div>
                            <div class="section-button text-right d-none d-lg-block pt-80">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="{% url 'appointment:appointment_main' %}"
                                    class="btn btn-icon ml-0"><span>+</span>назначить встречу</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <!-- Services main end -->
        </div>
    </section>
{% endblock content %}


 