{% extends "wrapper.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% if messages %}
                <div class="message">
                    {% for i in messages %}
                    <p style="color: red;font-size:20px">{{ i }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="basic-login">
                        <h3 class="text-center mb-60">Войти отсюда</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <label for="name">Адрес электронной почты<span>**</span></label>
                            <input id="name" type="text" name="username" />
                            <label for="pass">Пароль <span>**</span></label>
                            <input id="pass" type="password" name="password"/>
                            <button class="btn btn-icon-green w-100" name="login">Войти сейчас</button>
                            <div class="or-divide"><span>or</span></div>
                            <a href="{% url 'users:register' %}" class="btn theme-btn w-100">Зарегистрироваться</a>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
       