<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Appointment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/meanmenu.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- header begin -->
    <header>
        <div class="top-bar d-none d-md-block">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-7 offset-md-1">
                        <div class="header-info">
                            <span><i class="fas fa-phone"></i> +1 800 833 9780</span>
                            <span id="address">Адрес</span>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-4">
                        <div class="header-top-right-btn f-right">
                            <a href="./pages/register.html" class="btn">зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu-area -->
        <div class="header-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                            <a href="index.html">
                                <h2 style="color: rgb(185, 11, 11);">MedicCrm</h2>
                            </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="header__menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">Основной</a>
                                    </li>
                                    <li><a href="./pages/service/services-2.html">Услуги</a>
                                    </li>
                                    <li><a href="./pages/specialists/doctor-2.html">Specialists</a>
                                    </li>
                                    <li><a href="./pages/blog/blog-2-col.html">Специалисты</a>
                                    </li>
                                    <li>
                                        <a href="blog-2-col.html">Профиль</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main>
        <!-- calculate-area start -->
        <section class="appointment-area appointment-area-3 pos-rel pt-115 pb-120" data-background="img/appoinment/appointment-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="calculate-box white-bg">
                            <div class="calculate-content">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="about-title news-letter-title mb-70">
                                            <h5 class="pink-color">Встреча</h5>
                                            <h1>Записаться на прием</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <form>
                                            <div class="name">
                                                <label for="name">Ваше имя и фамилия</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="name">
                                                <label for="name">Выберите услугу</label>
                                                <select name="service" id="" class="form-control">
                                                    <option value="">service 1</option>
                                                    <option value="">service 1</option>
                                                    <option value="">service 1</option>
                                                </select>
                                            </div>
                                            <div class="name">
                                                <label for="name">Выбрать врача</label>
                                                <select name="service" id="" class="form-control">
                                                    <option value="">doctor 1</option>
                                                    <option value="">doctor 1</option>
                                                    <option value="">doctor 1</option>
                                                </select>
                                            </div>
                                            <div class="name">
                                                <label for="name">Дата</label>
                                                <input type="date" class="form-control">
                                            </div>
                                            <div class="name">
                                                <label for="name">Врем</label>
                                                <input type="time" class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn mt-40">submit query</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  

    <!-- JS here -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/one-page-nav-min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>


